* {
    margin: 0px;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top__content {
    flex-grow: 1;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    font-family: 'Tahoma', Times, sans-serif;
}

.hero {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.header {
    padding-top: 42px;
    margin-bottom: 115px;
}

ul {
    list-style: none;
}

.breadcrumbs {
    display: flex;
    justify-content: space-between;
}

.main {
    flex-grow: 1;
    background-image: url(../../img/top-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50%;
    margin: 0 auto;
}

.main__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    font-size: 64px;
    color: #1F3F68;
    width: 504px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.main__content,
.about__content {
    font-size: 16px;
    color: #1F3F68;
    display: flex;
    justify-content: space-between;
    width: 425px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 71px;
}

.button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 50px;
    border-style: none;
}

.offers__title {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 64px;
}

.offers__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.offers__link {
    width: 359px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 44px 32px;
    box-sizing: border-box;
}

.card__img {
    margin-bottom: 51px;
}

.title__mini {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
}

.offers__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 30px;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.footer {
    background: #316099;
}

.talking {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.talking__title {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 32px;
    margin-top: 91px;
    font-weight: normal;
    width: 80%;
}

.talking__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 425px;
}

.talking__info {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 96px;
}

.btn {
    background: #5A98D0;
    cursor: pointer;
    padding: 15px 80px;
    border-style: none;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    align-self: center;
}

hr {
    margin-bottom: 64px;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.breadcrumbs-footer {
    margin-bottom: 64px;
    justify-content: space-between;
}

.footer__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: normal;
}

.footer__text_rights {
    opacity: 0.4;
    padding-bottom: 64px;
}

.btn-forms {
    border-radius: 10px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}